<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3>Kibana settings</h3>
</div>
<div class="modal-body">
  <label>Elasticsearch URL</label>
  <input ng-model='settings.elasticsearch' type="text" style="width:90%">
</div>
<div class="modal-footer">
<button type="button" class="btn btn-success" ng-click="dismiss();save_settings();">Save</button>
  <button type="button" class="btn btn-danger" ng-click="dismiss();">Cancel</button>
</div>
